<!DOCTYPE html>
<html>
  <head>
    <title>Create Blog</title>
    <link rel="stylesheet" href="/static/css/index.css" />
  </head>

  <body>
    <div>
      <div class="home-buttons">
        <br />
        <a href="/back">
          <button>
            <b>Return to home page</b>
          </button>
        </a>

        <br />
        <!-- Logout button -->
        <form method="POST" action="/logout">
          <button type="submit" class="red">Logout</button>
        </form>
      </div>
      <h2>
        Team Name: Disturbed Window Monsters
        <br />
        Roster: David, William, Marc
      </h2>
      <h1>Welcome to the create page of the Disturbed Blog!</h1>
    </div>
    <form method="POST" action="/blog">
      <p>Name: {{username}}</p>

      <p>
        Title:
        <br />
        <input type="text" placeholder="Title" name="title" required />
      </p>
      <p>
        Date:
        <br />
        <input type="number" placeholder="20221113" name="date" required />
      </p>
      <textarea name="content" style="width: 80%" rows="15"></textarea>
      <br />
      <br />
      <!-- <label for="file">Select image:</label>
      <input type="file" id="file" name="file" accept="image/*" />
      <br /> -->
      <button type="submit" name="sub2">
        <b>Upload</b>
      </button>
    </form>
  </body>
</html>
