<!DOCTYPE html>
<html>
<head>
    <title>YO WASSUP</title>
</head>

<body>
    <div>
        <h2>Team Name: Disturbed Window Monsters
            <br>
            Roster: David, William, Marc
        </h2>
        <h1>
            Welcome to the create/edit page of the Disturbed Blog!
        </h1>
    </div>

    <form method = "POST" action ="/blog">
        <p>
            Name: 
            <br>
            <input type="text" placeholder="Username" name="username" required>
        </p>
        <p>
            Title: 
            <br>
            <input type="text" placeholder="Title" name="title" required>
        </p>
        <p>
            Date: 
            <br>
            <input type= "number" placeholder="20221113" name="date" required>
        </p>
        <textarea name="content" style = "width:80%" rows="15"></textarea>

        <button type="submit" name="sub2" style="position:fixed; bottom:15%; right: 300px; padding: 10px; background-color: rgba(219, 53, 86, 0.849);">
            <b>Upload</b>
        </button>
    </form>
</body>
</html>