<!DOCTYPE html>

<html>
  <head>
    <title>Help Page</title>
    <link rel="stylesheet" href="/static/css/index.css" />
  </head>

  <body>
    <div>
      <h2>What is the Disturbed Blog</h2>
      <br />
      The Disturbed Blog is a web log hosting site designed to allow users to
      create their own and view other user's blogs
    </div>
    <div>
      <h2>How does this site work?</h2>
      To use this site, you must first create an account. Once you do, you will
      be able to access this web service.<br />
      After logging in, you will be brought to the home page. From there you
      have two buttons to either create or edit your posts. Below those options
      you can view all the blogs created from other users sorted the date added.
    </div>
    <ul>
      <li>Creating New Blogs:</li>
      Each new blog requires two elements:
      <ul>
        <li>
          Title: this is the title of your post. This is what viewers first see
          on the home and view page of the site so make it pop!
        </li>
        <li>
          Date: blog posts on the home page and on your personal page are sorted
          by date added.
        </li>
      </ul>
      <li>Editing Blogs:</li>
      You are able to edit the title and contents of every post you make.
    </ul>
    <br />
    <a href="/">
      <button>Back to Home</button>
    </a>
  </body>
</html>
