<!DOCTYPE html>
<html>

<head>
    <title>Home Page</title>
</head>

<body>
    <div>
        <h2>Team Name: Disturbed Window Monsters
            <br>
            Roster: David, William, Marc
        </h2>
        <h1>
            Welcome to the Disturbed Blog!
        </h1>
        <!-- <p>Login Status: {{ status }}</p> -->
        {% if message %}
            {{message}}
        {% endif %}
        {% if success == True %}
            You are logged in. Get ready to enjoy our quality content!
             <!-- Logout button -->
            <form method="POST" action="/logout">
                <button type="submit" style="position:absolute; top:0%; right:0%;padding:10px; background-color: aquamarine;">
                  Logout
                </button>
              </form>
            
            <!-- Creating/edit new blogs-->
            <a href = "/blog">
                <button id = "create" style = position:absolute; padding:10px >
                    Create New Blog
                </button>
                <br>
                <div>
                    <button id = "edit">
                        Edit Old Blogs
                    </button>
                </div>
            </a>
            <br>
            <a href="/help">
                <button>
                    <b>Help?</b>
                </button>
        </a>

            <!-- Displaying all blogs -->
            <div>
                <h2>
                    All Blogs
                </h2>
                <ul>
                   {% for blog in blogs %}
                        <li>
                            <a href="/blog/{{blog[8]}}">
                                {{blog[1]}}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            
            {% else %}
        <a href="/signup">
            <button>
                Get Started
            </button>
        </a>
        <br>
        <a href="/login">
            <button>
                Login
            </button>
        </a>
        <br>
        <a href="/help">
            <button>
                <b>Help?</b>
            </button>
        </a>
        {% endif %}
        
    </div>
</body>

</html>