<!DOCTYPE html>
<!--
  David Chen, William Guo, Marc Jiang
  Disturbed Window Monsters
  SoftDev
  Oct 17 2022
 -->
<html>

<head>
    <title>Home Page</title>
</head>

<body>
    <div>
        <h2>Team Name: Disturbed Window Monsters
            <br>
            Roster: David, William, Marc
        </h2>
        <h1>
            Welcome to the Disturbed Blog
        </h1>
        <!-- <p>Login Status: {{ status }}</p> -->
        {% if status == "True" %}
        adsasd
        {% else %}
        <a href="/signup">
            <button>
                Get Started
            </button>
        </a>
        <br>
        <a href="/login">
            <button>
                Login
            </button>
        </a>
        <br>
        <a href="/help">
            <button>
                <b>Help?</b>
            </button>
        </a>
        {% endif %}
        
    </div>
</body>

</html>