<!DOCTYPE html>
<!--
  David Chen, William Guo, Marc Jiang
  Disturbed Window Monsters
  SoftDev
  Oct 17 2022
 -->
<html>

<head>
    <title>YO WASSUP</title>
</head>

<body>
    <div>
        <h2>Team Name: Disturbed Window Monsters
            <br>
            Roster: David, William, Marc
        </h2>
        <h1>
            Welcome to the Disturbed Blog
        </h1>
        <!-- <p>Login Status: {{ status }}</p> -->
        {% if message %}
            {{message}}
        {% endif %}
        {% if success == True %}
            You are logged in. Get ready to enjoy our quality content!
        {% else %}
        <a href="/login">
            <button>
                Get Started
            </button>
        </a>
        {% endif %}
    </div>
</body>

</html>