<!DOCTYPE html>
<html>
  <head>
    <title>LOGIN PAGE</title>
    <link rel="stylesheet" href="/static/css/index.css" />
  </head>

  <body>
    <h1>Login Page</h1>

    <h3>Enter your username and password below to proceed.</h3>
    <form method="POST" action="/login">
      <input type="text" placeholder="username" name="username" />
      <input type="text" placeholder="password" name="password" />

      <button type="submit" name="sub1">Login</button>
    </form>

    <h3>Don't have an account? Click below to register.</h3>
    <a href="/signup">
      <button>Register</button>
    </a>
    <br />
  </body>
</html>
